*{
    margin: 0;
    padding: 0;

}
body{
    font-family:arial;
    background-color: whitesmoke;
    overflow-x: hidden;
    color: black;
    background-image: url('../../../pertemuan 7/Latihan 5/galery/img/full/bga.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 2px 8px 1px;
   
}

nav{
    display: flex;
    background-color: rgb(0, 172, 23);
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    height: 50px;
    align-items: center;
}
nav .logo{
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: turquoise;
}
nav ul.slide{
    transform: translateX(0);
}
/* -----------------------Responsive------------------- */
@media screen and (max-width:768px) {
    nav ul{
        width: 50%;
    }
    
}
@media screen and (max-width:576px) {
  body{
    background-repeat: no-repeat;
 
    
  }
    nav ul{
        position:absolute;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: palevioletred;
        transform: translateX(100%);
        transition: all 1s;
        z-index: -1;

    }
    #kol{
        display: flex;
    }
}


.menu-toggle input{
    position: absolute;
    width: 50px;
    height: 28px;
    opacity: 0;
    left: -13px;
    top: -3px;
    cursor: pointer;
    z-index: 2;


}
.menu-toggle{
display: none;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;
}


.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition:all 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px,-1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px,0);
}
.menu-toggle input:checked ~ span:nth-child(3){
opacity: 0;
transform: scale(0);
}